@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Rental </h1>
    <p class="lead">Movie Rental is a movie renting website. User can search their desire movies and apply for renting a movie disk if it is available.</p>
   
</div>

